<table id="result" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Ext</td>
            <td>Number</td>
            <td>Name test</td>
            <td>Request</td>
            <td>Response</td>
            <td>Status</td>
            <td>Info</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>