<div id="information-manager" class="span10"></div>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <% if (!App.user.is_auth()) { %>
                    <a class="brand" href="javascript:void(0);">
                        Game
                    </a>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Registration
                            </a>

                            <form id="registration" class="dropdown-menu form-actions">
                                <div class="control-group">
                                    <input id="login" type="text" placeholder="login">
                                    <em class="help-block"></em>
                                </div>
                                <div class="control-group">
                                    <input id="password" type="password" placeholder="password">
                                    <em class="help-block"></em>
                                </div>
                                <div class="control-group">
                                    <input id="confirm_password" type="password" placeholder="confirm password">
                                    <em class="help-block"></em>
                                </div>
                                <button id="register" type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </li>
                    </ul>

                    <form id="authorize" class="navbar-form pull-right">
                        <input class="input-medium" type="text" placeholder="login">
                        <input class="input-medium" type="password" placeholder="password">
                        <button id="sign-in" type="submit" class="btn">Sign In</button>
                    </form>
                <% } else { %>
                    <a class="brand" href="javascript:void(0);">
                        <%= App.user.get('username') %>
                    </a>
                    <%* navbar %>
                    <ul class="nav pull-right">
                        <li>
                            <a href="javascript:void(0);" onclick="App.router.navigate('/lobby/', {trigger: true})">
                                Lobby
                            </a>
                        </li>
                        <% if (App.user.get('room_id') == undefined) { %>
                        <li>
                            <a id="upload-map" href="javascript:void(0);" onclick="App.router.navigate('/uploadmap/', {trigger: true})">
                                Upload map
                            </a>
                        </li>
                        <% } %>
                        <li>
                            <a href="javascript:void(0);" id="logout">Exit</a>
                        </li>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " style="margin-top:48px;">
    <div class="row-fluid">
        <div id="content" class="span11" style="margin:0 auto; float: none;">
            <%* content %>
        </div>
    </div>
</div>

