<%! page/base %>

<%[ content %>
    <div class="span12">
        <div class="row">
            <h4>Create game room:</h4>
            <div class="span2">
                <canvas id="minimap" width=0 height=0></canvas>
                <label><span id="map_size" class="badge">Width: <span id="map_width"></span> Height: <span id="map_height"></span></span></label>
            </div>
            <div class="span9">
                <form class="form-inline">
                    <div class=span10>
                        <div class="control-group span3">
                            <input id="name" type="text" placeholder="Room name" class="input-medium">
                            <em class="help-block"></em>
                        </div>
                        <div class="control-group span3">
                            <input id="password" type="password" placeholder="Room password" class="input-medium">
                            <em class="help-block"></em>
                            <input id="confirm_password" type="password" placeholder="Confirm password" class="input-medium">
                            <em class="help-block"></em>
                        </div>
                        <div class="control-group span3">
                            <input id="max_players_count" type="number" placeholder="Max player count" class="input-medium" value="10">
                            <em class="help-block"></em>
                        </div>
                        <div class="control-group span3">
                            <select id="map" class="input-medium">
                                <option value="none"></option>
                                <% for (var i = 0; i < self.maps.length; ++i) { %>
                                <option value="<%= self.maps[i].map_id %>"><%= self.maps[i].name %></option>
                                <% } %>
                            </select>
                            <em class="help-block"></em>
                        </div>
                    </div>
                    <button id="create-room" type="submit" class="btn btn-primary">Create room</button>
                    <button id="settings-map" type="button" class="btn">+ Settings</button>
                <div id="game-settings-block" class="span11" style="display: none;">
                    Game Settings
                </div>
                </form>
            </div>
        </div>
        <!--div class="span1">
        </div-->
        <div class="row">
            <h4>Room list:</h4>
            <table class="table table-bordered table-striped" id="rooms">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Room</td>
                    <td>Free</td>
                    <td>Players</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i < self.games.length; ++i) { %>
                <tr>
                    <td><%= self.games[i]['id'] %></td>
                    <td><%= self.games[i]['name'] %></td>
                    <td><%= self.games[i]['free_slots'] %></td>
                    <td><%= self.games[i]['total_slots'] %></td>
                    <td>
                        <form class="form-inline">
                            <input type="password" id="password_room<%= self.games[i]['id'] %>">
                            <button type="button" class="btn join-room" id="<%= self.games[i]['id'] %>">Join</button>
                        </form>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
<%]%>
