<%! page/base %>

<%[ content %>
    <div class="span2">
        <div class="control-group">
            <div style="background-image: url('/static/img/bomb.png'); width: 40px; height: 40px;"></div>
            <span id="remaining_bombs" class="badge"></span>
        </div>
        <div class="control-group">
            <div style="background-image: url('/static/img/flame.png'); width: 40px; height: 40px;"></div>
            <span id="flame_length" class="badge"></span>
        </div>
        <div class="well well-small">
            <div id="players_list" style="border-radius: 10px 10px 0 0; padding: 5px; overflow: scroll;">

            </div>
        </div>
    </div>
    <div id="game-block" class="span6 well well-small" style="height: 535px; background-repeat: no-repeat; background-position: 160px 220px;">
        <div class="progress progress-striped active" id="progress_bar" style="margin-top: 220px;">
            <div class="bar" style="width: 0%;" id="progress"></div>
        </div>
        <canvas id="bomberman-canvas" style="border: none;" width="570" height="512"></canvas>
    </div>
    <div class="span4 well well-small">
        <div id="chat" style="height: 445px; border-radius: 10px 10px 0 0; padding: 5px; overflow: scroll;">

        </div>
        <form class="form-inline" style="margin-top: 10px;">
            <input id="text" class="input-medium" type="text" placeholder="Message text">
            <button id="send-message" type="submit" class="btn btn-primary">Send</button>
            <button id="start_game" type="button" class="btn">Ready</button>
        </form>
    </div>
<%]%>
