<div id="information-manager" class="span10"></div>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <a class="brand" href="javascript:void(0);">
                    Game
                </a>
                <form class="navbar-form pull-right">
                    <span class="help-inline">Please select game server:</span>
                    <input id="server-list" type="text" value="http://127.0.0.1:8080/">
                    <button id="connect" type="button" class="btn btn-primary">Connect</button>
                    <button id="test" type="button" class="btn btn-primary">Test</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:48px;">
    <div class="row-fluid">
        <div id="content" class="span10 well" style="margin:0 auto; float: none; text-align: center">
            <h1>Welcome to the game "Bomberman"</h1>
            <img src="static/img/bomberman.jpg">
        </div>
    </div>
</div>