<div class="span5">
    <h4>Basic settings:</h4>
    <% for (var c in self.base_params) { %>
    <div class="control-group">
        <label><%= self.getCaption(c) %>: <span id="<%= c %>_label" style="font-weight: bold;"></span></label>
        <div id="<%= c %>"></div>
    </div>
    <% } %>
    <button id="reset_values" type="button" class="btn btn-inverse">Reset</button>
</div>
<div class="span7">
    <h4>Bonuses and diseases:</h4>
    <div class="tabbable">
        <ul class="nav nav-pills" id="items">
            <% var flag = false; for (var c in self.items) { %>
            <li <% if (!flag) { flag = true; %>class="active"<% } %>><a  href="#<%= c %>"><%= self.getCaption(c) %></a></li>
            <% } %>
        </ul>

        <div class="tab-content">
            <% var flag = false; for (var c in self.items) { %>
            <div class="tab-pane fade<% if (!flag) { self.currentPage = c; flag = true; %> active in<% } %>" id="<%= c %>">
                <div class="span10 offset1">
                    <% var items = self.default_params.concat(self.items[c]);
                    for (var i = 0; i < items.length; i++) { var key = items[i]; %>
                    <div class="control-group">
                        <label><%= self.getCaption(key) %>: <span id="<%= c+"_"+key %>_label" style="font-weight: bold;"></span></label>
                        <div id="<%= c+"_"+key %>"></div>
                </div>
                <% } %>
                <button type="button" class="btn btn-inverse" id="<%= c %>_reset">Reset to default</button>
            </div>
        </div>
        <% } %>
    </div>
</div>
</div>
