<%! page/base %>

<%[ navbar %>

<%]%>

<%[ content %>
    <form>
        <div class="span3">
            <h4>Main settings:</h4>
            <div class="control-group">
                <input id="name" type="text" placeholder="Map name">
                <em class="help-block"></em>
            </div>
            <div class="control-group">
                <label>Select map</label>
                <input id="upload" type="file">
                <h4>Preview:</h4>
                <canvas id="minimap" width=0 height=0></canvas>
                <label><span id="map_size" class="badge">Width: <span id="map_width"></span> Height: <span id="map_height"></span></span></label>
            </div>
            <em class="help-block"></em>
            <button id="submit" type="submit" class="btn btn-primary">Upload</button>
            <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
        </div>
        <div id="settings" class="span9">Settings</div>
    </form>

<%]%>
