#registration {
    padding: 10px;
}

#registration > .control-group > .help-block, .help-inline {
    font-size: 8pt;
}

#information-manager {
    top: 50px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}


#result td:first-child+td+td+td, #result td:first-child+td+td+td+td{
    word-break: break-all;
    min-width: 150px;
}


.test-success {
    color: blue;
}

.test-error {
    color: red;
}

.test-critical {
    color: yellow;
    background-color: red !important;
    font-weight: bold;
}